<body class="container other"> 
<div class="navbar">

	<div style="float: left;">

		<ul class="pagelinks">
			<a class="link" href="/users/<%= current_user.id %>"><img src="/img/quora1.png" width="50px" height="50px"></a>
			<a class="link" href="/users/<%= current_user.id %>/profile" style="color: black">MY PROFILE</a>
    	<a class="link" href="/questions" style="color: black">MY QUESTIONS</a>
    	<a class="link" href="/answers" style="color: black">MY ANSWERS</a>
  	</ul>

	</div>

 <!-- <form method="post" action="/logout"> -->
	<form class="logout-button" style="display:inline;" method="post" action="/logout"> 
		<button type=submit value="Log out" href="/logout">
				Log out
		</button>
	</form>
<!-- </form> -->

</div>

<!-- SHOW THE QUESTION TOGETHER WITH ITS ANSWERS -->
<div class ="body">
	<br><br><br><br>

<% if @question.user != nil %>
	<%= "On " + @question.created_at.to_s + ","%>
	<%= @question.user.first_name + " " + @question.user.last_name + " asked:"%>
<% end %>

<div class="posted-question">
	<%= @posted_question = Question.find(params[:id]) %>
<!-- 	<p><%#= User.find(@posted_question.user_id) %></p> -->
	<p style="font-weight: bold"><%= @posted_question.description%></p>



	<form id='question_upvote_<%= @posted_question.id %>' style='display:inline;' method='post' action='/questions/<%= @posted_question.id %>/up'>
		<input id='upvote_<%= @posted_question.id %>' style="border: 0.5px #7af4bf; background: #5b9e77 /*4080007F*/;" type='submit' value='Upvote <%= QuestionVote.where(question_id: @posted_question.id, points: 1).count %>'>				
	</form>
	
	<form id='question_downvote_<%= @posted_question.id %>' style='display:inline;' method='post' action='/questions/<%= @posted_question.id %>/down'>
		<input id='downvote_<%= @posted_question.id %>' style="border: 0.5px #ed9090; background: #9e5353/* #8000407F*/;" type='submit' value='Downvote <%= QuestionVote.where(question_id: @posted_question.id, points: -1).count %>'>
	</form>



</div>

<p class="answer-submit">
	<form method="post" action="/questions/<%= @question.id %>/answers/new">
		<textarea name="answer[content]" placeholder="Answer the question"></textarea>
		<input type="submit" value="Answer!">
	</form>
</p>

<!-- <form id="back_button" method="get" action="/users/<%#= @user.id %>" >
	<button type=submit value="Back" class="back-button">
		Back
	</button>
</form> -->


<!-- SHOW ALL ANSWERS FOR THE QUESTION -->
<p style="font-weight: bold; font-size: 20px;"> Answers: </p>

<div class="posted-answer">

	<% if @question.answers != nil %>

	<% @question.answers.each do |a| %>
		<p>On <%= a.created_at %>, <%= a.user.first_name %> answered:</p>
		<p style="font-weight: bold"><%= a.content%></p>

		<form id='answer_upvote_<%= a.id %>' style='display:inline;' method='post' action='/answers/<%= a.id %>/up'>
			<input id='upvote_<%= a.id%>' style="border: 0.5px #7af4bf; background: #5b9e77 /*4080007F*/;"  type='submit' value='Upvote <%= AnswerVote.where(answer_id: a.id, points: 1).count %>'>
		</form>
		
		<form id='answer_downvote_<%= a.id %>' style='display:inline;' method='post' action='/answers/<%= a.id %>/down'>
			<input id='downvote_<%= a.id%>' style="border: 0.5px #ed9090; background: #9e5353/* #8000407F*/;" type='submit' value='Downvote <%= AnswerVote.where(answer_id: a.id, points: -1).count %>'>
		</form>
		<br><br>
	<% end %>

	<% end %>
	
</div> 

</div>
<body>