<body class="container other"> 
<%= @errors if @errors %>

<div class="navbar">

	<div style="float: left;">

		<ul class="pagelinks">
			<a class="link" href="/users/<%= current_user.id %>"><img src="/img/quora1.png" width="50px" height="50px"></a>
			<a class="link" href="/questions" style="color: black">MY QUESTIONS</a>
    	<a class="link" href="/answers" style="color: black">MY ANSWERS</a>
  	</ul>

	  </div>

 <!-- <form method="post" action="/logout"> -->
		<form class="logout-button" style="display:inline;" method="post" action="/logout"> 
			<button type=submit value="Log out" href="/logout">
				Log out
			</button>
		</form>
<!-- </form> -->

</div>

<div class ="body">

		<br><br><br>
		<h2><%= @user.first_name + " " + @user.last_name%>'s Profile</h2>
		<!-- <h4>Name: <%#= @user.first_name %></h4> -->
		<h4>Email: <%= @user.email %></h4>
		<h4>Member since: <%= @user.created_at %></h4>

	<br>

	<div>
		<h2>Questions by <%= @user.first_name %></h2>

			<ol>
				<% @user.questions.each do |q| %>
					<li>
					<p>On <%= q.created_at %>, <%= @user.first_name %> asked:</p>
					<p style="font-weight: bold"><%= q.description %></p>
					<% if current_user.id == @user.id %>
						<form style="display:inline;" method="get" action="/questions/<%= q.id %>/edit">
							<input type="submit" value="Edit Question">
						</form>

					<form style="display:inline;" method="get" action="/questions/<%= q.id %>/delete">
						<input type="submit" value="Delete Question">
					</form>
						<!-- <a href="/questions/<%#= q.id %>/edit">Edit</a>
						<a href="/questions/<%#= q.id %>/delete">Delete</a> -->
					<% end %>
					</li>
				<% end %>
			</ol>
	</div>

	<br>

	<div>
		<h2>Answers by <%= @user.first_name %></h2>

			<ol>
				<% @user.answers.each do |a| %>
					<li>
					<p>On <%= a.created_at %>, <%= @user.first_name %> answered <%= a.question.user.first_name %>:</p>
					<p style="font-weight: bold"><%= a.content %></p>
					<% if current_user.id == @user.id %>
						<div>
						<form style="display:inline;" method="get" action="/answers/<%= a.id %>/edit">
							<input type="submit" value="Edit Answer">
						</form>

						<form style="display:inline;" method="get" action="/answers/<%= a.id %>/delete">
							<input type="submit" value="Delete Answer">
						</form>
						</div>
					<!-- 	<a href="/answers/<%#= a.id %>/edit">Edit</a>
						<a href="/answers/<%#= a.id %>/delete">Delete</a> -->
					<% end %>
					</li>
				<% end %>
			</ol>
	</div>

</div>
<body>

