<body class="container other"> 
<div class="navbar">

	<div style="float: left;">

		<ul class="pagelinks">
			<a class="link" href="/users/<%= current_user.id %>"><img src="/img/quora1.png" width="50px" height="50px"></a>
			<a class="link" href="/users/<%= current_user.id %>/profile" style="color: black">MY PROFILE</a>
    	<a class="link" href="/questions" style="color: black">MY QUESTIONS</a>
  	</ul>

	</div>

 <!-- <form method="post" action="/logout"> -->
	<form class="logout-button" style="display:inline;" method="post" action="/logout"> 
		<button type=submit value="Log out" href="/logout">
				Log out
		</button>
	</form>
<!-- </form> -->

</div>

<div class ="body">

	<br><br><br>

<h2 style="font-weight: bold;">ALL MY ANSWERS</h2>

	<div class="my-answers">
		<ol>
		<% @answer.each do |a| %>
		<li>
			<p>On <%= a.created_at %>, you answered to <%= a.question.user.first_name %> :</p>
			<p style="font-weight: bold;"><%= a.content %></p>
			
			<form id="edit_answer" style="display:inline;" method="get" action="/answers/<%= a.id %>/edit">
				<input id="edit_button" type="submit" value="Edit Answer">
			</form>

			<form id="delete_answer" style="display:inline;" method="get" action="/answers/<%= a.id %>/delete">
				<input id="delete_button" type="submit" value="Delete Answer">
			</form>
			<br><br>
			
			<a class="line-link" href="/questions/<%= a.question.id %>">Show question</a>

			<br><br>
		</li>
		<% end %>
		</ol>
	</div>

</div>
<body>